{% extends 'basic.html' %}
{% load static %}
{% block title %} Resume {% endblock title %}
{% block body %}
<!-- Resume Section -->
    <section id="resume" class="resume section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Resume</h2>
        <p>I am a dedicated Django developer and Python enthusiast with a strong foundation in web development and data structures. My expertise includes building robust web applications using Django, with a focus on creating user-friendly, secure, and efficient solutions. I am also experienced in Python, mastering its core concepts and applying them to develop scalable and maintainable code. Passionate about continuous learning, I strive to enhance my skills and contribute to innovative projects.</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row">

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>BSC (HONS) COMPUTING</h4>
              <h5>2023 - Current</h5>
              <p><em>Islington College, Kamal Pokhari, Kathmandu </em></p>
              <p>The principles of the latest programming languages, introduces you to information systems, computer software and hardware technologies, implementation of databases, and develops your further understanding of application development in the final level.</p>
            </div><!-- Edn Resume Item -->

            <div class="resume-item">
              <h4>School Leaving Certificate(SLC)</h4>
              <h5>2019 - 2021</h5>
              <p><em>Hetauda School of Management and Science, Hetauda,Nepal</em></p>
              <p>Provide with knowledge, skills and competencies to analyse and solve problems across various business and IT functions within an organisation.</p>
            </div><!-- Edn Resume Item -->

           <div class="resume-item">
              <h4>Secondary Education Examination (SEE)</h4>
              <h5>2016 - 2018</h5>
              <p><em>Navodaya Shishu Sadan Secondary English Boarding, Hetauda,Nepal</em></p>
              <p>Learn different skill, knowledge and leadership. Helps to be what I am  </p>
            </div><!-- Edn Resume Item -->

          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <h3 class="resume-title">Projects</h3>
            <div class="resume-item">
              <h4>NETWORK OPERATING SYSTEM</h4>
              <ul>
                <li>Enhance Linux-based Network Operating System (NOS) for seamless communication and efficient resource management.</li>
                <li>Foster interoperability, streamlining administration tasks in diverse networked environments</li>
              </ul>
            </div><!-- Edn Resume Item -->

            <div class="resume-item">
              <h4>DATABASE</h4>
              <ul>
                <li>Develop and maintain a robust database system utilizing Oracle and MySQL technologies to efficiently store, retrieve, and manage data.</li>
                <li>Optimize the performance, responsiveness, and accessibility of the Oracle and MySQL databases to align with evolving user and application requirements.</li>
              </ul>
            </div>
              <!-- Edn Resume Item -->

           <div class="resume-item">
              <h4>WEBSITE FOR PLANT SHOP</h4>
              <ul>
                <li>Create a dynamic website using HTML for structure, CSS for styling, and JavaScript for interactivity.</li>
                <li>Implement responsive design principles for optimal viewing on diverse devices.</li>
                <li>Ensure user-friendly navigation and integrate interactive elements for an engaging user experience.</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Github</h4>
              <ul>
                <li>https://github.com/KhadkaRenish?tab=repositories</li>

              </ul>
            </div>
          </div>

        </div>

      </div>

    </section><!-- /Resume Section -->
{% endblock body %}